<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.runney">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Runney"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".features.articledetails.ArticleDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".features.results.ResultsActivity"
            android:exported="true" />
        <activity
            android:name=".features.editProfile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".features.raceDetails.RaceDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".features.newsDetails.NewsActivity"
            android:exported="true" />
        <activity
            android:name=".features.races.RacesActivity"
            android:exported="true" />
        <activity
            android:name=".features.bookmarks.BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".features.details.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".features.forgotpassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".features.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".features.dashboard.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".features.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>